{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">

        <script src="{% static 'admin/js/bootstrap.js' %}"></script>
        <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>


        <title>Análisis GAP</title>

    </head>

    <style type="text/css">
        body{
            background-color: white;
            font: bold 200% monospace;
        }

    </style>

<body>

<div class="container">
    <div class="row"><br><br>
        <h1 style="text-align:center; color:rgb(19, 159, 215)">Análisis GAP</h1><br><br><br><br><br><br>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 well">
        <div style="text-align:center; color:rgb(19, 159, 215)">Lo sentimos, no se han encontrado resultados.</div>
        <div class="col-lg-4"></div>
</div>
</div>
</div>
</body>
</html>